.layoutContainer {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.mainWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.pageContent {
  flex: 1;
  padding: 20px;
  overflow-y: auto; /* Allows only the content area to scroll */
  background-color: #f9fafb;
}