html {
  scroll-behavior: auto !important;
}

*,
*::before,
*::after {
  animation: none !important;
  transition: none !important;
  
}

*:hover,
*::before:hover,
*::after:hover {
  transform: none !important;
  box-shadow: none !important;
  filter: none !important;
}
*{
  margin: 0;
  padding: 0;
}